[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"

[packages]
mysqlclient = "*"
Django = ">=2.0.1"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.7"
