{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'spots/detail.css' %}">

<h1>SpotRegister</h1>

<h2>{{ spot }}</h2>

<table>
    {{ spot }}
</table>

<form action="{% url 'spots:register' spot.id %}" method="post">
{% csrf_token %}
<div class='values'>
    <div>
        <label>ID: {{ spot.id }}</label>
    </div>
    <div>
        <label for="name">店舗名</label>
        <input type="text" name="name" id="name" value="{{ spot.name }}">
    </div>
    <div>
        <label for="name_sub">読み仮名</label>
        <input type="text" name="name_sub" id="name_sub" value="{{ spot.name_sub }}">
    </div>
    <div>
        <label for="branch">支店名</label>
        <input type="text" name="branch" id="branch" value="{{ spot.branch }}">
    </div>
    <div>
        <label for="address">住所</label>
        <input type="text" name="address" id="address" value="{{ spot.address }}">
    </div>
    <div>
        <label for="building">ビル名</label>
        <input type="text" name="building" id="building" value="{{ spot.building }}">
    </div>
    <div>
        <label for="phone">電話番号</label>
        <input type="text" name="phone" id="phone" value="{{ spot.phone }}">
    </div>
    <div>
        <label for="description">店舗サマリー</label>
        <input type="text" name="description" id="description" value="{{ spot.description }}">
    </div>
    <div>
        <label for="business_status">店舗状態</label>
        <input
            type="text"
            name="business_status"
            id="business_status"
            value="{{ spot.business_status | default_if_none:'' }}"
        >
    </div>
    <div>
        <label for="business_status_confirm_time">状態確認日</label>
        <input
            type="text"
            name="business_status_confirm_time"
            id="business_status_confirm_time"
            value="{{ spot.business_status_confirm_time | default_if_none:'' }}"
        >
    </div>
</div>
<input type="submit" value="register">
</form>


